{% extends '::layout.html.twig' %}
{% block title %}Kindie | {{ genero.nombre }}{% endblock %}
    {% block contenido %}
        <section id="principal-genero">
            <h1>{{ genero.nombre }}</h1>
        </section>

    {% endblock %}