{% extends '::layout.html.twig' %}
{% block title %} Kindie | Sobre Kindie {% endblock %}
{% block contenido %}
<div class="row">
    <div class="col s12 m10 l8 offset-l2 offset-m1">

        Siete cosas que debes saber sobre Kickstarter:

        1. Kickstarter es una nueva manera de financiar proyectos creativos.

        Kickstarter es la plataforma ideal para que proyectos grandes y pequeños - desde películas, juegos y música hasta proyectos en el ámbito del arte, el diseño y la tecnología - cobren vida gracias al apoyo directo de personas como tú. Desde los inicios en 2009, 8,9 millones personas han contribuido con más de $1,8 miles de millones para financiar 87.000 proyectos creativos. En este mismo instante, se están recaudando fondos para miles de proyectos creativos en Kickstarter.

        2. Cada proyecto se crea de forma independiente.

        Los cineastas, músicos, artistas y diseñadores que ves en Kickstarter tienen control absoluto sobre sus proyectos y al mismo tiempo asumen la responsabilidad sobre ellos. Kickstarter está diseñado como una plataforma y un recurso; sin embargo, no interferimos en el desarrollo de los propios proyectos. Siempre y cuando se siga nuestras normas, Kickstarter está abierto a las mentes creativas de todo el mundo.

        3. Juntos, creadores y patrocinadores consiguen que los proyectos se hagan realidad.

        Los creadores de un proyecto fijan una meta de financiación y un plazo. Si a la gente le gusta el proyecto, puede contribuir con dinero para hacerlo realidad. La financiación en Kickstarter funciona a base de “todo o nada”, o sea, sólo los proyectos que alcanzan sus metas de financiación recibirán dinero. Aunque el concepto “todo o nada” pueda parecer disuasivo al principio, ha resultado ser increíblemente eficaz para crear impulso y movilizar a la gente en torno a una idea. Hasta la fecha, nada más y nada menos que un 44 % de los proyectos han alcanzado sus metas de financiación.
        Amanda Palmer Kickstarter

        “Hay algo mágico en Kickstarter... Te sientes inmediatamente parte de la comunidad artística.”

        — Amanda Palmer reunió a 25.000 patrocinadores para apoyar su álbum, libro y gira.

        4. El creador mantiene la propiedad de su obra.

        Los patrocinadores apoyan proyectos para ayudar a hacerlos realidad, no para beneficiarse económicamente. Para agradecerles su apoyo, los creadores del proyecto les ofrecen recompensas. Los patrocinadores de un proyecto para la creación de un libro o una película, por ejemplo, a menudo obtienen una copia de la obra terminada. Una contribución mayor a un proyecto cinematográfico podría darte acceso al estreno, o proporcionarte una función privada para tí y tus amigos. Un artista recaudó fondos para crear un mural artístico y repartió fragmentos entre sus patrocinadores al terminar la exposición.

        5. Una manera de financiación de obras creativas centenaria.

        Muchos artistas como Mozart, Beethoven, Whitman y Twain financiaron sus obras de forma similar ways — no sólo con la ayuda de grandes patrocinadores, sino también solicitando dinero de patrocinadores o suscriptores que contribuían cantidades más pequeñas. A cambio de su apoyo, estos suscriptores podrían recibir una de las primeras copias o una edición especial de la obra. Kickstarter es una extensión de este modelo, impulsado por Internet.
        Stephen Heleker Kickstarter

        “La forma más democrática de crear arte.”

        — Stephen Heleker recaudó $ 21.000 para su cortometraje “Smoke”

        6. Patrocinar un proyecto significa mucho más que simplemente darle dinero a un creador.

        Significa apoyar su sueño de crear algo que quiere que exista en el mundo - algunos se movilizan en torno a los proyectos de sus amigos, los fans de un artista conocido lo apoyan para demostrarle su admiración, y otros simplemente acuden a Kickstarter para inspirarse en nuevas ideas. En ocasiones puede pasar que un proyecto requiera más tiempo de lo previsto, pero por lo general, los creadores pueden contar con la comprensión de sus patrocinadores si les comunican los problemas y retrasos de manera abierta y honesta.

        7. Nuestra misión es que proyectos creativos se hagan realidad.

        Somos una compañía independiente de 121 personas con sede en Greenpoint, Brooklyn (EE. UU.). Dedicamos todo nuestro tiempo a perfeccionar Kickstarter un poco más cada día, respondiendo a las preguntas de los patrocinadores y de los creadores, y buscando nuevos proyectos para compartir. Sólo cuando un proyecto se financia con éxito aplicamos una tarifa del 5 % a los fondos recaudados.

        Estamos convencidos de que proyectos creativos contribuyen a un mundo mejor - ¡por eso nos encanta apoyarlos! Formar una comunidad de patrocinadores en torno a una idea es una manera increíble de hacer algo nuevo.

    </div>
</div>
{% endblock %}

