{% extends '::layout.html.twig' %}
{% block title %} Kindie | Sobre Kindie {% endblock %}
{% block contenido %}
<div class="row">
    <div class="col s12 m10 l8 offset-l2 offset-m1">

        <h4>Cosas que debes saber sobre Kindie:</h4>

        <h5>1. Kindie es una nueva manera de financiar proyectos creativos.</h5>

        Kindie es la plataforma ideal para que proyectos grandes y pequeños cobren vida gracias al apoyo directo de personas como tú.

        <h5>2. Cada proyecto se crea de forma independiente.</h5>

        Los desarrolladores, artistas y diseñadores que ves en Kindie tienen control absoluto sobre sus proyectos
        y al mismo tiempo asumen la responsabilidad sobre ellos. Kindie está diseñado como una plataforma y un recurso;
        sin embargo, no interferimos en el desarrollo de los propios proyectos.
        Siempre y cuando se siga nuestras normas, Kindie está abierto a las mentes creativas de todo el mundo.

        <h5>3. Juntos, creadores y patrocinadores consiguen que los proyectos se hagan realidad.</h5>

        Los creadores de un proyecto fijan una meta de financiación y un plazo. Si a la gente le gusta el proyecto, puede contribuir con dinero para hacerlo realidad.
        La financiación en Kindie funciona a base de “todo o nada”, o sea, sólo los proyectos que alcanzan sus metas de financiación recibirán dinero.
        Aunque el concepto “todo o nada” pueda parecer disuasivo al principio, ha probado ser increíblemente eficaz para crear impulso y movilizar a la gente en
        torno a una idea.

            <h5>4. El creador mantiene la propiedad de su obra.</h5>

        Los patrocinadores apoyan proyectos para ayudar a hacerlos realidad, no para beneficiarse económicamente. Para agradecerles su apoyo, los creadores
        del proyecto les ofrecen recompensas. Los patrocinadores de un proyecto para la creación de un videojuego, por ejemplo, a menudo obtienen una copia
        de la obra terminada. Una contribución mayor a un proyecto podría darte acceso anticipado al juego, o proporcionarte una versión privada para tí.

                <h5>5. Una manera de financiación de obras creativas centenaria.</h5>

        Muchos artistas como Mozart, Beethoven, Whitman y Twain financiaron sus obras de forma similar, no sólo con la ayuda de grandes patrocinadores,
        sino también solicitando dinero de patrocinadores o suscriptores que contribuían cantidades más pequeñas.
        A cambio de su apoyo, estos suscriptores podrían recibir una de las primeras copias o una edición especial de la obra. Kindie es una extensión
        de este modelo, impulsado por Internet.



                    <h5>6. Patrocinar un proyecto significa mucho más que simplemente darle dinero a un creador.</h5>

        Significa apoyar su sueño de crear algo que quiere que exista en el mundo,
        algunos se movilizan en torno a los proyectos de sus amigos, los fans de un artista conocido
        lo apoyan para demostrarle su admiración, y otros simplemente acuden a Kindie para inspirarse en nuevas ideas.
        En ocasiones puede pasar que un proyecto requiera más tiempo de lo previsto, pero por lo general, los creadores pueden contar
        con la comprensión de sus patrocinadores si les comunican los problemas y retrasos de manera abierta y honesta.

                        <h5>7. Nuestra misión es que proyectos creativos se hagan realidad.</h5>

        Dedicamos todo nuestro tiempo a perfeccionar Kindie un poco más cada día, respondiendo a las preguntas de los patrocinadores y de los creadores,
        y buscando nuevos proyectos para compartir. Sólo cuando un proyecto se financia con éxito aplicamos una tarifa del 5 % a los fondos recaudados.

        Estamos convencidos de que proyectos creativos contribuyen a un mundo mejor - ¡por eso nos encanta apoyarlos!
        Formar una comunidad de patrocinadores en torno a una idea es una manera increíble de hacer algo nuevo.

    </div>
</div>
{% endblock %}

