{% extends '::layout.html.twig' %}
{% block title 'Kindie | Configuración de tu cuenta' %}
    {% block contenido %}
        <h2 class="center">Configura tu cuenta</h2>
        <div class="row">
            <div class="col s12 m8 l6 offset-l3 offset-m2">
            {{ form(formulario) }}
            <blockquote>Si solamente desea cambiar su correo, introdúzcalo y confirme su contraseña actual.
            Si quiere cambiar su contraseña, rellene el campo "Nueva contraseña" y repítala en el campo "Confirmar contraseña" para realizar el cambio."</blockquote>
            </div>
        </div>
    {% endblock %}