{% extends '::layout.html.twig' %}
{% block title 'Kindie | Configuración de perfil del usuario' %}
    {% block contenido %}
        <h1 class="center">Edición del perfil del usuario</h1>
    {% endblock %}