{% extends '::layout.html.twig' %}
{% block title 'Kindie | Configuración de perfil del usuario' %}
    {% block contenido %}
        <section id="editar-perfil" class="responsive-img" data-type="parallax_section" data-speed="5">
            <h1 class="center">Edición del perfil del usuario</h1>
        <div class="row editar-perfil">
            <div class="col s12 m8 l6 offset-m2 offset-l3 ">
                {{ form(formulario) }}
            </div>
        </div>

        </section>
    {% endblock %}
{% block scripts %}
    {% if ok != "" %}
        <script>
            $(document).ready(function() {

                // crear notificacion
                var notification = new NotificationFx({
                    message : '<p>{{ ok }}</p>',
                    layout : 'growl',
                    effect : 'jelly',
                    type : 'notice', // notice, warning, error or success
                    onClose : function() {
                        bttn.disabled = false;
                    }
                });

                // show the notification
                notification.show();


            } );
        </script>
        {% endif %}
{% endblock %}