{% extends '::layout.html.twig' %}
{% block title 'Kindie | Configuración de perfil del usuario' %}
    {% block contenido %}
        <section id="editar-perfil" class="responsive-img" data-type="parallax_section" data-speed="5">
            <h1 class="center">Edición del perfil del usuario</h1>
        <div class="row editar-perfil">
            <div class="col s12 m8 l6 offset-m2 offset-l3 ">
                {{ form(formulario) }}
            </div>
        </div>

        </section>
    {% endblock %}