{% extends '::layout.html.twig' %}
{% block title 'Kindie | Configuración de tu cuenta' %}
    {% block contenido %}
        <h2 class="center">Favoritos</h2>


            {% if favoritos %}
                <div class="row" id="itemContainer">
                    <div class="holder">
                    </div>
                {% for fav in favoritos %}
                    <a href="{{ path('proyecto', {'id':fav.proyecto.id}) }}">
                    <div class="col s12 m6 l2">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{ fav.proyecto.imagenPrincipal }}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <h6>{{ fav.proyecto.nombre }}</h6>
                                <p>{{ fav.usuario.nombreUsuario }}</p>
                            </div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
                </div>
                <div class="holder">
                </div>
                {% else %}
                <h3 class="center">Aún no has añadidos favoritos</h3>
            {% endif %}

    {% endblock %}