{% extends '::layout.html.twig' %}
{% block title 'Kindie - Imagen de perfil' %}
    {% block contenido %}
        <h1>Registro de usuario</h1>
        <div class="row">
            <div class="col s12 m8 l6 offset-l3 offset-m2">
                <form method="post" action="{{ path('imagen_usuario') }}" enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <input class="file-path validate" type="text"/>
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="upload"/>
                        </div>
                    </div>
                    <button type="submit" name="subir">
                        Subir
                    </button>
                </form>
            </div>
        </div>

    {% endblock %}