{% extends '::layout.html.twig' %}
{% block title 'Kindie - Registro de ususarios' %}
    {% block contenido %}
        <h1>Registro de usuario</h1>
        <div class="row">
            <div class="col s12 m8">
                {{ form(formulario) }}
            </div>
        </div>

    {% endblock %}