
{% extends '::layout.html.twig' %}
{% block title 'Kindie | Mis mensajes' %}
    {% block contenido %}
        <h1 class="center">Nuevo mensaje</h1>

        <div class="row mensajes">
            <div class="col s12 m10 l8 offset-l2 offset-m1">
                <label>De: <strong>{{ usuario.nombreUsuario }}</strong></label><br/>
                <label>Para: <strong>{{ remitente.nombreUsuario }}</strong></label><br/>
                <label>Respuesta a: <strong>{{ mensaje.tipo }}</strong></label>
                {{ form(formulario) }}
            </div>
        </div>
    {% endblock %}