/* general */
h1{
    font-weight: 200;
}

.card a{
    color: #A0F !important;
}

.progress {

    background-color: rgb(212, 172, 236) !important;

}
.parallax-container {
    height: 500px;
    margin: -20px 0 0 -1px;
}

/* fin */
/* menu superior */
nav a, nav .input-field input{
    color: #000 !important;
    padding: 7px 15px !important;
}

nav{
    border-top: 3px solid #aa00ff;
    height: 80px;

}

.brand-logo{
    margin: -3px 15px;

}

nav a.button-collapse i {
    color: #aa00ff;
}
/* fin menu */

/* |||||||||||||  SECCIONES PORTADA |||||||||||||| */
/* seccion principal */
#principal{
    background: url(../images/portada/stick.jpg) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}
#principal .row{
    padding: 70px 100px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#principal p{
    font-size: 17px;
    font-weight: 300;
    margin: 20px 0 50px 0 !important;

}
/* fin secc, principal */
/* secciones */
#opciones{
    background: #f3e5f5;

}

#generos
{
    text-align: center;
    max-width: 1240px;
    margin: 0 auto;
}

#recientes{
    padding-bottom: 70px;

}
/* fin */
/* FIN SECCIONES PORTADA*/

/* ||||||||||||| DESCUBRE |||||||||||||| */
#principal-descubre{
    background: url(../images/proyectos/confeti.png) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}

#principal-descubre .row{
    margin-top: 100px;
    max-width: 1240px;
}
/* fin descubre */

/* ||||||||||||| EMPIEZA |||||||||||||1 */
#principal-empieza h1{
    max-width: 1240px;
    text-align: center;
    margin: 0 auto;
}

#principal-empieza{
    text-align: center;
    padding-top: 100px;
    background: url(../images/proyectos/creatividad.png) no-repeat fixed;
    height: 500px;
    background-size: cover;

}

/* fin empieza */

/* ||||||||||||| PROYECTO |||||||||| */
.contador {
    color: #fff;
    background: #a0f;
    padding: 3px 8px;
    margin-left: 10px;
    border-radius: 4px;
}
.tabs .tab a .active{
    border-bottom: 2px solid #a0f !important;
}
.proyecto-arriba{
    font-size: 40px;
    padding: 0;
    margin-bottom: -20px;
    margin-top: 0px;
    font-weight: 500;
}
#proyecto h6{
    margin-bottom: 50px;

}

.tabs .tab a {
    color: rgb(170, 0, 255) !important;
}
.tabs .tab a:hover {
    color: #C876F2 !important;
}

#test1, #test2, #test3{
    padding: 50px 100px;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #a0f !important;
    box-shadow: 0 1px 0 0 #a0f !important;
}
blockquote {
    border-left: 5px solid #a0f;
}

#comentarios .circle {
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 20px;
}

#comentarios .title {
    font-weight: 500;
    float: left;
    color: #d181ff;
}

.comentario-item{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 auto;
}

.comentario-item p {
    margin-top: 2px;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0px solid #26A69A !important;
    box-shadow: 0px 2px 0px 0px #A0F !important;
}
/* fin proyecto */

/* ||||||||||||| GENERO |||||||||| */
#principal-genero{
    text-align: center;
    padding-top: 100px;
    height: 500px;
    background-size: cover;
}
/* fin genero */
/* footer */
.page-footer{
    position: relative;
    bottom: 0;
    width: 100%;

}

/* fin pie */