/* general */
h1{
    font-weight: 200;
}
.enlace-azul:hover{
    color: #1ac7ff;
}


/* modal */
#mi-modal, #mi-modal2{
    position:fixed;
    display:none;
    top: 10%;
    z-index:9999;
    padding:20px;
    background: #fff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
}

.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    border-radius: 0px;
    will-change: bottom, opacity;
    max-height: 60% !important;
    width: 80% !important;
    padding: 50px;
    margin: 0px auto !important;
    text-align: left;
}

#mascara{
    position:fixed;
    top: -57%;
    left: -26%;
    z-index:9000;
    background-color:#fff;
    display:none;
    width: 100%;
}
/* fin modal */
.indicator{
    background-color: #AA00FF !important;
}

.card a{
    color: #A0F !important;
}

.progress {

    background-color: rgb(212, 172, 236) !important;

}
.parallax-container {
    height: 500px;
    margin: -20px 0 0 -1px;
}

.collapsible-body{
    padding: 20px !important;
}

.mi-dd{
    display: none;
    margin-top: -1px;
    position: absolute;
    top: 78px;
    right: 0px;
    width: 300px;
    z-index: 1000;
    box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.3);
}

.mi-dd li{
    clear: both;
    width: 100%;
    background: #FFF none repeat scroll 0% 0%;
    color: #000;
    text-align: center;
    padding: 0 0 14px 0;
    height: 54px;
    line-height: 38px;
}
.mi-dd li:hover{
    background: rgba(0,0,0,0.3);
}
.buscador{
    padding: 0px 10px;
}
.mi-trigger{
    height: 78px;
}

.mi-trigger i{
    float: right;
    margin: 0 0px 0 15px;
    color: #03a9f4;
}

.user-perfil{
    float: right;
    margin-left: 10px;
}

/* fin */
/* menu superior */
nav a, nav .input-field input{
    color: #000 !important;
    padding: 7px 15px !important;
}

nav{
    border-top: 3px solid #aa00ff;
    height: 80px;

}

.brand-logo{
    margin: -3px 15px;

}

nav a.button-collapse i {
    color: #aa00ff;
}
/* fin menu */

/* |||||||||||||  SECCIONES PORTADA |||||||||||||| */
/* seccion principal */
#principal{
    background: url(../images/portada/stick.jpg) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}
#principal .row{
    padding: 70px 100px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#principal p{
    font-size: 17px;
    font-weight: 300;
    margin: 20px 0 50px 0 !important;

}
/* fin secc, principal */
/* secciones */
#opciones{
    background: #f3e5f5;

}

#generos
{
    text-align: center;
    max-width: 1240px;
    margin: 0 auto;
}

#recientes{
    padding-bottom: 70px;

}
/* fin */
/* FIN SECCIONES PORTADA*/

/* ||||||||||||| DESCUBRE |||||||||||||| */
#principal-descubre{
    background: url(../images/proyectos/confeti.png) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}

#principal-descubre .row{
    margin-top: 100px;
    max-width: 1240px;
}
/* fin descubre */

/* ||||||||||||| EMPIEZA |||||||||||||1 */
#principal-empieza h1{
    max-width: 1240px;
    text-align: center;
    margin: 0 auto;
}

#principal-empieza{
    text-align: center;
    padding-top: 100px;
    background: url(../images/proyectos/creatividad.png) no-repeat fixed;
    height: 500px;
    background-size: cover;

}

/* fin empieza */

/* ||||||||||||| PROYECTO |||||||||| */
#proyecto{
    background: url(../images/proyectos/principal_proyecto.png) no-repeat fixed;
    height: 500px;
    background-size: cover;
}
.contador {
    color: #fff;
    background: #a0f;
    padding: 3px 8px;
    margin-left: 10px;
    border-radius: 4px;
}
.card .card-image img {
    max-height: 284px !important;
}
.tabs .tab a .active{
    border-bottom: 2px solid #a0f !important;
}

#acciones_coments, #acciones_coments form{
    float: right;
}
#eliminar_coment{
    background: transparent none repeat scroll 0% 0%;
    border: medium none;
}

#eliminar_coment:hover{
    color: #e53935;
}
.proyecto-arriba{
    font-size: 40px;
    padding: 0;
    margin-bottom: -20px;
    margin-top: 0px;
    font-weight: 500;
}
#proyecto h6{
    margin-bottom: 50px;

}

.tabs .tab a {
    color: rgb(170, 0, 255) !important;
}
.tabs .tab a:hover {
    color: #C876F2 !important;
}

#test1, #test2, #test3{
    padding: 50px 100px;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #a0f !important;
    box-shadow: 0 1px 0 0 #a0f !important;
}
blockquote {
    border-left: 5px solid #a0f;
}

#comentarios .circle {
    border-radius: 5%;
    width: 80px;
    float: left;
    margin-right: 20px;
}

#comentarios .title {
    font-weight: 500;
    float: left;
    color: #d181ff;
}

.comentario-item{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 auto;
}

.comentario-item p {
    margin-top: 2px;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #AA00FF !important;
    box-shadow: 0px 2px 0px 0px #A0F !important;
}

.img-perfil {
    width: 95px;
    border-radius: 5px;
    max-height: 65px;
}
.grid {
    background: #EEE;
    max-width: 1200px;
}

#favorito {
    margin: 36px 0px 0px !important;
}

#test4 .row{
    padding: 40px 0 30px 0;
}

#favorito i{
    font-size: 20px;
}
.fav{
    color: red;
}

#favorito a:hover{
    color: #e53935;
}

.creador:hover{
    color: #1ac7ff !important;
}

#actualizaciones{
    background: url(../images/proyectos/desarrollo.png) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}

.actu a:hover{
    color: #1ac7ff !important;
    font-size: 17px !important;
}

#participar{
    background: url(../images/proyectos/participar.png) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}
/* fin proyecto */

/* ||||||||||||| GENERO |||||||||| */
#principal-genero{
    text-align: center;
    padding-top: 75px;
    background: url(../images/generos/Plataformas.png) no-repeat;
    background-size: cover;
    height: 300px;
    color: #fff;
    text-shadow: 0 0 5px 2px rgba(0,0,0,0.3);

}
/* fin genero */

/* |||||||||| MENSAJES |||||||||| */
.mensajes i{
    color: #AA00FF;
}

.infoms{
float: right;

}

.contador-blue, .contador-orange, .contador-green {
    color: #fff;
    padding: 3px 13px;
    margin-left: 10px;
    border-radius: 4px;
}
.contador-blue{
    background: #2196f3;
}
.contador-green{
    background: #43a047 ;
}
.contador-orange{
    background: #ff9800;
}

.mensajes blockquote {
    border-left: 5px solid #A0F;
    width: 60% !important;
    margin: 0 auto !important;
    margin-bottom: 100px !important;
    margin-top: 100px !important;
}

#acciones_ms{
    text-align: right;
}
#acciones_ms i{
    color: #888;
}

#acciones_ms i:hover{
    color: #2196f3;
}

/* fin de mensajes */

/* ||||||| USUARIO ||||||| */
#principal-perfil{
    text-align: center;
    padding-top: 100px;
    background: url(../images/usuario/seccion_perfil.jpg) no-repeat fixed;
    height: 500px;
    background-size: cover;
}

#editar-perfil{
    background: url(../images/usuario/editar_perfil.png) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}
#editar-perfil h1{
    text-shadow: 0 0 6px rgba(255,255,255, 0.9);
}

#principal-perfil h1{
    margin: 20px;
    margin-top: -50px;
    margin-bottom: 40px;
}


.info-perfil {
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.87) none repeat scroll 0% 0%;
    padding: 30px;
    float: left;
    width: 100%;
    box-shadow: 0px 0px 38px 17px rgba(255, 255, 255, 0.87);
}

.info-perfil img {
    border: 0px none;
    width: 250px;
    float: left;
    border-radius: 10px;
}

.editar-perfil input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]){
    border-bottom: 1px solid #a0f !important;
    box-shadow: 0px 1px 0px 0px #a0f !important;
}
/* fin usuario /*
/* footer */
.page-footer{
    position: relative;
    bottom: 0;
    width: 100%;

}

/* fin pie */