/* general */
h1{
    font-weight: 200;
}

.card a{
    color: #A0F !important;
}

.progress {

    background-color: rgb(212, 172, 236) !important;

}
.parallax-container {
    height: 500px;
    margin: -20px 0 0 -1px;
}

/* fin */
/* menu superior */
nav a, nav .input-field input{
    color: #000 !important;
    padding: 7px 15px !important;
}

nav{
    border-top: 3px solid #aa00ff;
    height: 80px;

}

.brand-logo{
    margin: -3px 15px;

}

nav a.button-collapse i {
    color: #aa00ff;
}
/* fin menu */

/* |||||||||||||  SECCIONES PORTADA |||||||||||||| */
/* seccion principal */
#principal{
    background: url(../images/portada/stick.jpg) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}
#principal .row{
    padding: 70px 100px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#principal p{
    font-size: 17px;
    font-weight: 300;
    margin: 20px 0 50px 0 !important;

}
/* fin secc, principal */
/* secciones */
#opciones{
    background: #f3e5f5;

}

#generos
{
    text-align: center;
    max-width: 1240px;
    margin: 0 auto;
}

#recientes{
    padding-bottom: 70px;

}
/* fin */
/* FIN SECCIONES PORTADA*/

/* ||||||||||||| DESCUBRE |||||||||||||| */
#principal-descubre{
    background: url(../images/proyectos/confeti.png) no-repeat fixed;
    height: 700px;
    background-size: cover;
    padding: 50px;
}

#principal-descubre .row{
    margin-top: 100px;
    max-width: 1240px;
}
/* fin descubre */
/* footer */
.page-footer{
    position: relative;
    bottom: 0;
    width: 100%;

}

/* fin pie */