{% extends '::layout.html.twig' %}
{% block title 'Kindie - Descubre proyectos' %}
    {% block contenido %}
        <h2>Descubre nuevos proyectos entre todos los géneros disponibles</h2>

    {% endblock %}