{% extends '::layout.html.twig' %}
{% block title %}Kindie | Desarrollo del proyecto{% endblock %}
    {% block contenido %}
        <section id="editar-proyecto" class="responsive-img" data-type="parallax_section" data-speed="5">
        <h1></h1>
        {{ form(formulario) }}
        </section>

    {% endblock %}