{% extends '::layout.html.twig' %}
{% block title %}Kindie | Desarrollo del proyecto{% endblock %}
    {% block contenido %}
        <section id="actualizaciones" class="responsive-img" data-type="parallax_section" data-speed="5">
            <h1 class="center">Edita el detalle de tu proyecto</h1>
            <div class="row editar-perfil">
                <div class="col s12 m10 l8 offset-m1 offset-l2 ">
                    <blockquote>Las imágenes insertadas deben estar previamente subidas a internet y sólamente agregar la ruta en el cuadro de edición. Una
                    vez insertadas, se podrá modificar posición y tamaño libremente.</blockquote>
                    <script type="text/javascript">
                        tinymce.init({
                            selector: "textarea",
                            height: 500,
                            language : 'es',
                            plugins: [
                                "advlist autolink lists link image charmap print preview anchor",
                                "searchreplace visualblocks code fullscreen",
                                "insertdatetime media table contextmenu paste"
                            ],
                            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
                        });
                    </script>


{{ form(formulario) }}
                    <a href="{{ path('proyecto', {'id':proyecto.id}) }}" class="enlace-azul"><i class="mdi-navigation-arrow-back"></i> Vuelve al proyecto</a>


                </div>
            </div>

        </section>
        <div class="row editar-perfil">
            <div class="col s12 m10 l8 offset-m1 offset-l2 ">
                <h2 class="center">"El diseño debe seducir, educar y, quizás lo más importante, provocar una respuesta emocional."</h2>
                <h6 class="center"><strong>April Greiman</strong></h6>
                </div>
            </div>
    {% endblock %}