{% extends '::layout.html.twig' %}
{% block title 'Kindie - Comienza tu aventura' %}
    {% block contenido %}
        <section id="principal-empieza">
            <h1 class="center">
                "La creatividad no consiste en una nueva manera, sino en una nueva visión"
            </h1>
            <h6 class="center"><i><strong>--Edith Wharton</strong></i></h6>
            <br/>
            <a href="#" class="btn purple accent-4">Empieza un proyecto</a>
        </section>

    {% endblock %}