{% extends '::layout.html.twig' %}
{% block title 'Kindie - Comienza tu aventura' %}
    {% block contenido %}
        <h2>Comienza a cumplir tu sueño. Da de alta un nuevo proyecto y cumple tus metas</h2>

    {% endblock %}