{% extends '::layout.html.twig' %}
{% block title 'Kindie - Comienza tu aventura' %}
    {% block contenido %}
        <section id="principal-empieza" data-type="parallax_section" data-speed="20">
            <h1 class="center">
                "La creatividad no consiste en una nueva manera, sino en una nueva visión"
            </h1>
            <h6 class="center"><i><strong>--Edith Wharton</strong></i></h6>
            <br/>
            <a href="{{ path('nuevo_proyecto') }}" class="btn purple accent-4">Empieza un proyecto</a>
        </section>

    {% endblock %}