{% extends '::layout.html.twig' %}
{% block title %}Kindie | Gestión de Imágenes del proyecto{% endblock %}
    {% block contenido %}
<h1>Weeeeeeeeeeeeeeeeee</h1>
        {{ form(formulario) }}

    {% endblock %}