{% extends '::layout.html.twig' %}
{% block title %}Kindie | Gestión de Imágenes del proyecto{% endblock %}
    {% block contenido %}
        <h3 class="center">Añade imágenes a tu galería</h3>

        <div class="row">
        <div class="col s12 m8 l6 offset-l3 offset-m2">
        <form method="post" action="{{ path('multimedia_proyecto', {'id':proyecto.id}) }}" enctype="multipart/form-data">
            <div class="file-field input-field">
                <input class="file-path validate" type="text"/>
                <div class="btn blue">
                    <span>File</span>
                    <input type="file" name="upload"/>
                </div>
            </div>
            <button type="submit" name="subir" class="btn purple accent-4">
                Subir
            </button>
            <a href="{{ path('proyecto', {'id':proyecto.id}) }}">Ve al proyecto</a>
        </form>
        </div>
        </div>

            <h3 class="center">Edición de mi galería</h3>
            {% if multimedia %}
                <div class="holder">
                </div>
                <div class="row" id="itemContainer">
                {% for ima in multimedia %}
                    <div class="col s12 m6 l3">
                    <form method="post" action="{{ path('eliminar_imagen', {'id': ima.id}) }}">
                        <button type="submit" name="eliminar-ima" class="tooltipped right" data-position="top" data-delay="50" data-tooltip="Eliminar imagen"><i class="mdi-content-clear right"></i></button>

                    </form>
                        <img class="materialboxed responsive-img" src="{{ ima.ruta }}">

                    </div>
                {% endfor %}
                </div>
                <div class="holder">
                </div>
                {% else %}
                <h5 class="center">Aún no has añadido imágenes</h5>
            {% endif %}

    {% endblock %}