{% extends '::layout.html.twig' %}
{% block title 'Kindie | Creación de proyecto' %}
    {% block contenido %}

        <section id="principal-nuevo_proyecto" class="responsive-img" data-type="parallax_section" data-speed="5">
            {{ form(formulario) }}
        </section>

    {% endblock %}