{% extends '::layout.html.twig' %}
{% block title %}Kindie | Apoyo a proyectos{% endblock %}
    {% block contenido %}
        <section id="participar" class="responsive-img" data-type="parallax_section" data-speed="5">


        </section>

    {% endblock %}